.wf-loading {
	visibility: hidden;
}

body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font: {
		family: $font__main;
		size: 100%;
		weight: 300;
	}
}

@import "headings";

@import "copy";