section,
.site-header {
  opacity: 1;
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition: transform .4s ease-in-out, opacity .4s ease-in-out;
  -webkit-transition: -webkit-transform .4s ease-in-out, opacity .4s ease-in-out;
}

.wf-loading section,
.wf-loading .site-header {
  opacity: 0;
  transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
}

body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font: {
		family: $font__main;
		size: 100%;
		weight: 300;
	}
}

@import "headings";

@import "copy";