$font__main: "proxima-nova",sans-serif;
$font__heading: "nimbus-sans-extended",sans-serif;
$font__navigation: "nimbus-sans-extended",sans-serif;
$font__read-more-link: "nimbus-sans-extended",sans-serif;
$font__news-title: "nimbus-sans-extended",sans-serif;







$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;