.leadership {
	margin-top: 7.5em;
	margin-bottom: 7.5em;
	text-align: center;

	img {
		width: 200px;
	}
}

.team-member {
	margin: 0 auto 5.625em auto;
	max-width: 600px;

	.name {
		border-bottom: 1px solid $color__border-secondary;
		display: inline-block;
	}

	h4 {
		margin-top: 0;
	}

	@media screen and ( min-width: 900px ) {
		display: flex;
		text-align: left;
		max-width: 800px;

		> div:first-child {
			width: 200px;
			margin-right: 30px;
		}

		> div:last-child {
			width: 570px;
		}
	}
}