.news {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: {
		top: 7.5em;
		bottom: 7.5em;
	}

	max-width: 900px;
	margin: 0 auto;

	@media screen and (max-width: 650px) {
		justify-content: center;
	}
}

.news-block {
	width: 45%;
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #979797;

	@media screen and (max-width: 650px) {
		width: 80%;
	}

	.news-image {
		background-color: grey;
		width: 100%;
		height: 200px;
		display: block;
	}

	.news-date {
		margin-bottom: 0;
		color: #757474;
	}

	h2 {
		margin-top: 10px;
	}

	.news-title {
		margin-bottom: 15px;
		font-family: $font__news-title;
		@include font-size(1.1);
		color: #2574A9;

		@media screen and ( min-width: 34em ) {
			@include font-size(1.3);
		}
	}
}

.read-more-news-link {
	font-family: $font__read-more-link;
	color: $color__text-secondary;
	text-decoration: none;

	&:visited {
		color: $color__text-secondary;
	}

	&:hover {
		color: $color__text-secondary;
	}
}

.news-nav {
	margin: 0 auto 30px auto;
	width: 100%;
}

.prev,
.next {
	a {
		color: $color__link-navigation;
		text-decoration: none;

		&:visited {
			color: $color__link-navigation;
		}
	}
}

.next {
	text-align: right;
}

