.project-image {
	position: relative;
}

.project-location {
	padding: {
		top: 30px;
		bottom: 30px;
	}
	border-bottom: 1px solid $color__border-main;

	h2, p {
		margin: 0;
	}

	@media screen and ( min-width: 37.5em ) {
		position: absolute;
		left: 0;
		bottom: 6px;
		padding: 30px;
		background: rgba(20, 20, 20, .5);
		border-bottom: 0;

		h2, p {
			color: $color__text-inverted;
			margin: 0;
		}	
	}

	@media screen and ( min-width: 43.75em ) {
		padding: 40px;
	}
}

.project-sidebar-content {
	border-bottom: 1px solid $color__border-main;

	ul {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		list-style-type: none;
		justify-content: space-between;

		li {
			width: 40%;
		}
	}

	h3 {
		margin-bottom: 0;
	}

	p {
		margin-top: 0;
	}

	@media screen and (min-width: 800px ) {
		border-bottom: none;
		border-right: 1px solid $color__border-main;
		display: initial;

		ul {
			display: block;

			li {
				width: 100%;
			}
		}
	}
}

.project-content {
	margin-bottom: 7.5em;

	@media screen and ( min-width: 800px ) {
		display: flex;
		margin-top: 30px;

		> div:first-child {
			padding-right: 40px;
			width: 40%;
		}

		> div:last-child {
			padding-left: 40px;
		}
	}
}