.site-header {
	position: relative;
	padding: {
		top: 20px;
		bottom: 20px;
	}

	.inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	z-index: 100;
}

.site-header__logo img {
	width: 100px;
}

.page-header {
	text-align: center;
	max-width: 800px;
	margin: 60px auto;

	p {
		margin: 0;
		padding: 20px 0;
		border: {
			top: 1px solid $color__border-main;
			bottom: 1px solid $color__border-main;
		}
	}
}

.site-content {
	z-index: 0;
}